@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
body{
    /* font-family: "Caveat Brush", cursive; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -26px;
    /* height: auto; */
    position: relative;

    /* height: 100vh; */
}
/* html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root > *:not(footer) {
  flex: 1;
} */
